<ul>
    <li class="logo">R3S</li>
    <li class="{% if request.path == '/dashboard' %}active{% endif %}"><a href="/dashboard">Home</a></li>
    {% if session.get('role') == 'admin' %}
        <li class="{% if request.path.startswith('/users') %}active{% endif %}"><a href="/users">Users</a></li>
        <li class="{% if request.path.startswith('/wm/user_groups') %}active{% endif %}"><a href="/wm/user_groups">User Groups</a></li>
        <li class="{% if request.path.startswith('/wm/roles') %}active{% endif %}"><a href="/wm/roles">Roles</a></li>
        <li class="{% if request.path.startswith('/wm/ldapserver') %}active{% endif %}"><a href="/wm/ldapserver">LDAP Server</a></li>
        <li>Licensing</li>
        <li>HPC</li>
    {% else %}
        <li>Notification Email</li>
        <li>Models</li>
        <li>Input Files</li>
        <li>Scheduling</li>
    {% endif %}
</ul>
